.header {
    height: 100px;
    background-color: #3B3A3D;

    &__wrapper {
        max-width: 1240px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: #fff;
    }
}